.navbarContainer{
    position:sticky;
    background-color: rgb(0, 9, 80);
    color: white;
    padding: 15px;
    font-Size: 30px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

    .profile{
        width:30% ; 
        font-size: larger;
        
    }
    .profile:hover{
        cursor: pointer;
        
    }
    .userInfo{
        position: absolute;
        height: 30vh;
        width: 30vw;
        top: 30%;
        border-radius: 20px;
        background-color: white;
        color: black;
       display: flex;
       flex-direction: column;
       align-items: center; 
       justify-content: space-evenly;
       display: none;
       button{
        border:none;
        border-radius: 4px;
        font-weight: 700;
        color: white;
       
       }


    }
    .show{
        display: flex;
       }    
    .navigationItems{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        span{
            display: none;
        }
        .heading{
            font-weight: 800;
        }
    nav{
        display: flex;
        justify-content: center;
        gap: 25px;

        a{
            color: white;
            text-decoration: none;
            font-size: 23px;
            border-bottom: 5px solid transparent;
            border-width: 0px;
            transition: 0.3s;
            
        }
        a:hover{
            scale: 1.2;
            cursor: pointer;
            color: orange;
           
           
        }

        
    }
}

}

@media (max-width:480px) {

    .navbarContainer{
        background-color: rgb(0, 9, 80);
        color: white;
        padding: 15px;
        font-Size: 30px;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
       
    
        .profile{
            width:200px ; 
            font-size: larger;
            
        }
        .profile:hover{
            cursor: pointer;
            
        }
        .userInfo{
            position: absolute;
            height: 300px;
            width: 300px;
            top: 100%;
            border-radius: 20px;
            background-color: white;
            color: black;
           display: flex;
           flex-direction: column;
           align-items: center; 
           justify-content: space-evenly;
           display: none;
           button{
            border:none;
            border-radius: 4px;
            font-weight: 400;
            color: white;
            font-size: 22px;
           
           }

        }

        .show{
            display: flex;
           } 
    
        .logo{
           width: 15%;
        }
        .logo:hover{
            cursor: pointer;
            
        }
        .navigationItems{
            display: flex;
           flex-direction: column;
            align-items: center;
            justify-content: center;
            
           width: 85%;
            .heading{
                display: flex;
                justify-content:space-between;
                width: 100%;
               span{
                display:flex;
                
                align-items: center;

               }
            }

        nav{
           
            text-align: center;
            display: flex;
            position: absolute;
            top:100%;
            left: 0;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
            background-color: rgb(28, 48, 157);
            width: 100vw;
            height:0px;
            display:none;
            opacity:0;
            transition: 1s;
            font-weight: 700;
            a{
                color: white;
                text-decoration: none;
                font-size: 25px;
                border-bottom: 5px solid transparent;
                border-width: 0px;
                transition: 0.3s;
                
                
            }
            a:hover{
                scale: 1.2;
                cursor: pointer;
                color: orange;
               
               
            }
    
            
        }

        .open{
            
            height:fit-content;
            opacity: 1;
            display: flex;

        }
    }
    
    }
    
}