#root{
    min-height: 100vh;
    background-color: rgba(8, 7, 7, 0.905);
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
}
.subheading
{
    background-color: #f72585;
    color: white;
    padding: 10px;
    text-align: center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Keeps background white */
  box-shadow: 0 0 0px 1000px white inset !important;
}

.loader{
  display: flex;
  justify-content: center;
}
